body {
  background-image: url("https://img.freepik.com/premium-photo/corn-field-with-sunset-background_1078211-342347.jpg");
  background-size: cover;          
  background-repeat: no-repeat;    
  background-position: center;     
  min-height: 100vh;               
  margin: 0;
  padding: 0;

  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 500px;
}
h1{
    margin: 20px ;            
    color: yellow;
    align-items: center;   
    padding-left: 130px;
}
input{
  width: 70%;
  padding: 16px 20px;  
  margin: 8px 0;
  box-sizing: border-box;
  border-bottom: 4px solid black;
  border-radius: 10px; 
}
button {
  background-color: #4CAF50; 
  margin : auto;
  color: white;
  padding: 15px 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left:170px
}
#predi {
    margin-top: 25px;          
    align-items: center;        
    color: #ffffff;
    font-size: 26px;
    font-weight: bold;

    background: rgba(0, 0, 0, 0.6); 
    padding: 12px 20px;
    border-radius: 10px;

    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
